<div id="<%= dom_id interview %>">
  <p>
    <strong>Interview type:</strong>
    <%= interview.interview_type %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= interview.details %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= interview.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= interview.end_date %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= interview.point %>
  </p>

  <p>
    <strong>Job listing:</strong>
    <%= interview.job_listing_id %>
  </p>

</div>
