
<div class="card bg-secondary" id="<%= dom_id interview %>">
  <div class="card-body">
    <h5 class="card-title"><%= interview.interview_type.capitalize %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Start date: <%= interview.start_date %></h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">End date: <%= interview.end_date %></h6>
    <p class="card-text"><%= interview.details %></p>
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>
