<div class="mt-2 mx-5 p-3 text-center" id="<%= dom_id interview %>">
  <div class="card-body">
    <p class="fw-bold"><%= interview.interview_type.capitalize %></p>
    <p class="card-text mb-2"><span class="text-decoration-underline">Start date:</span> <%= interview.start_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %I:%M %p %Z") %></p>
    <p class="card-text mb-2"><span class="text-decoration-underline">End date:</span> <%= interview.end_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %I:%M %p %Z") %></p>
    <p class="card-text"><span class="text-decoration-underline">Details:</span> <%= interview.details %></p>
    <div class="d-flex justify-content-center">
      <%= link_to edit_interview_path(interview), class: "btn text-warning", data: { bs_toggle: "modal", bs_target: "#editInterviewModal" } do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    <%= button_to interview, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn text-danger delete-button" do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
    </div>
  </div>
</div>
