<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'border rounded-1 p-4 m-4'}) do |f| %>
  <h2>Log in</h2>
  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", autocomplete: "email", autofocus: true, required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", autocomplete: "current-password", required: true %>
  </div>
  <div class="mb-3 form-check">
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
  <%= button_tag type: 'submit', class: 'log_in col-12' do %>
    Log in
  <% end %>
  <div class="mb-3 form_actions">
  </div>
  <%= render "users/shared/links" %>
<% end %>
