<%= turbo_frame_tag 'new_message_frame' do %>
  <%= form_with(model: ai_message, local: true) do |form| %>
    <div class="mb-3">
      <div class="input-group">
        <%= form.text_field :body, class: "form-control", required: false, id:"body", placeholder: "How can I help you?" %>
        <%= form.submit "Ask", class: "input-group-text"%>
      </div>
    </div>
    <div>
      <%= form.hidden_field :job_listing_id, value: job_listing.id %>
    </div>
    <%#= form.text_field :body %>
    <%#= form.text_field :job_listing_id, value: job_listing.id %>
    <%# <%= form.label :job_listing_id %>
    <%# <%= form.collection_select :job_listing_id, JobListing.all, :id, :title %>
    <%#= form.submit 'Submit' %>
  <% end %>
<% end %>
