<p style="color: green"><%= notice %></p>

<%= render @ai_message %>

<div>
  <%= link_to "Edit this ai message", edit_ai_message_path(@ai_message) %> |
  <%= link_to "Back to ai messages", ai_messages_path %>

  <%= button_to "Destroy this ai message", @ai_message, method: :delete %>
</div>
