<footer class="row mt-5">
  <div class="col">
    <div>
      <%= image_tag("logo.png", alt: "logo", class: "logo_img") %>
      <%= link_to "JobLogR", root_path, class: "navbar-brand logo" %>
    </div>
    <p>Track, manage, and land your dream job effortlessly with JobLogR—Your ultimate job tracking partner.</p>
    <div class="d-flex justify-content-evenly">
      <%= link_to "https://www.linkedin.com/in/andrew-pham-seva9/" , target: '_blank', rel: 'noopener noreferrer', class:"text-primary" do %>
        <i class="fa-brands fa-linkedin fa-lg"></i>
      <%end%>
      <%= link_to "https://www.linkedin.com/in/andrew-pham-seva9/" , target: '_blank', rel: 'noopener noreferrer', class:"text-primary"  do %>
        <i class="fa-solid fa-globe fa-lg"></i>
      <%end%>
      <%= link_to "https://github.com/andrewp8" , target: '_blank', rel: 'noopener noreferrer', class:"text-primary"  do %>
        <i class="fa-brands fa-github fa-lg"></i>
      <%end%>
    </div>
  </div>
  <div class="col ">
    <h5>ABOUT US</h5>
    <div>
      <a class="text-dark" href="#"  style="display: block;">My Story</a>
      <a class="text-dark" href="#"  style="display: block;">Make with care</a>
      <a class="text-dark" href="#"  style="display: block;">Forum</a></div>
  </div>
  <div class="col">
    <h5>ASSISTENCE</h5>
    <a class="text-dark" href="#"  style="display: block;">Terms & Conditions</a>
    <a class="text-dark" href="#"  style="display: block;">Privacy Policy</a>
    <a class="text-dark" href="#"  style="display: block;">Accessibility</a>
  </div>
  <hr class="mt-3">
<p class="text-center">© ALL RIGHTS RESERVED ANDREW PHAM</p>
</footer>
