<div class="col-6" id="<%=dom_id(job)%>">
  <div class="card mb-3">
    <div class="card-body">
      <%= link_to job.title, job.job_url, class:"card-title h5", style: "color: var(--app-purple)"%>
      <p class="card-text"><span class="fw-bold"><%= job.company %></span> - <span class="h8"><%= job.location %></span></p>
      <p class="card-text"><%= job.details_summary %></p>
      <p class="card-text h8">$<%= job.salary %></p>
      <p class="card-text h8">Applied: <%= time_ago_in_words(job.created_at) %></p>
      <p class="card-text h8 <%= 
            job.status == 'interviewing' ? 'text-success' : 
            job.status == 'pending' ? 'text-secondary' : 
            job.status == 'under_review' ? 'text-primary' : 
            'text-danger' 
            %>"><%= job.status.gsub(/_/, ' ').titleize %></p>
      <div class="col text-center">
        <%= render "job_listings/card_status", job: job %>
      </div>
    </div>
  </div>
</div>
