<div class="d-flex justify-content-end mb-2">
  <button type="button" class="btn follow_up" data-bs-toggle="modal" data-bs-target="#emailModal">
    Send Follow-up email
    <i class="fa-regular fa-paper-plane"></i>
  </button>
  <%=render "follow_ups/send_follow_up_email", follow_up_template: @follow_up_template, job_listing: @job_listing %>
</div>

<div class="accordion" id="accordionExample">
  <%= render "job_listings/shared/show_details", job_listing: @job_listing %>
  <%= render "job_listings/shared/show_files", job_listing: @job_listing %>
  <%= render "job_listings/shared/show_interviews", job_listing: @job_listing %>
  <%= render "job_listings/shared/show_chatgpt", job_listing: @job_listing %>
</div>

<%= render "job_listings/shared/job_listing_modal", job_listing: @job_listing, board: @job_listing.board, action: "edit"  %>
