<div class="container text-center">
  <div class="row">
    <h3>My Boards</h3>
      <%= link_to "New board", new_board_path, class: "create px-5 mt-4 col-6 m-auto", data: { bs_toggle: "modal", bs_target: "#newBoardModal" } %>

    <div class="col-12 my-4">
      <% @boards.each do |board| %>
        <%= link_to board_path(board) do %>
          <div class="border rounded-2 mb-3 p-3" style="height: 7rem;">

            <h4><%= board.board_name %></h4>
            <h6 class="text-secondary-emphasis"><%= current_user.email %></h5>
            <p class="text-secondary"><%= time_ago_in_words(board.created_at) %> ago</p>
          </div>
        <% end %>
      <% end %>
    </div>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "sign_out px-5 col-6 m-auto" %>
  </div>

  <div class="modal fade" id="newBoardModal" tabindex="-1" aria-labelledby="newBoardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newBoardModalLabel">New Board</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "form", board: Board.new %>
        </div>
      </div>
    </div>
  </div>
